# python
**/.pytest_cache/
**/__pycache__/
*.pyc

# Jupyter
**/.ipynb_checkpoints/
*.ipynb 

# C++
*.out
*.o

# Other
**/.vscode/
**/*.egg-info
tests/test_files/SACOL_FINE-SILTDryDep201905100000.nc
**/dask-worker-space/